@import "mobile.css";

.login {
    grid-template-rows: 1fr;
}

.login__figure-logo {
    display: none;
}

.login__form-log {
    height:  48rem;
    
}


/* password recovery */

.password-recovery {
    grid-template-rows: repeat(3, min-content);
    place-content: center;
}

.password-recovery__figure-logo {
    display: none;
}
