@import url("index.css");

/* login */
.login-page {
    grid-template-rows: 60%;
    place-items: center;
    place-content: center;
}


.login-page__figure {
    display: none;
}


/* password-recovery-page */

.password-recovery-page {
    grid-template-rows: 40% 1fr;
    gap: 2rem;
}


.password-recovery-page__figure {
    display: none;
}

.password-recovery-page__container--text {
    align-self: end;
}

/* email sent */

.email-sent-page {
    grid-template-rows: repeat(4, min-content);
}


.email-sent-page__figure-logo {
    display: none;
}


/* new password */

.new-password-page {
    place-content: center;
    grid-template-rows: repeat(2, min-content);
}

.new-password-page__figure {
    display: none;
}


/* create account */

.create-password-page {
    place-content: center;
    grid-template-rows: repeat(2, min-content);
    gap: 4rem;
}