@import url("index.css");

/* login */

.login-page {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 30% 68%;
    place-items: center;
    place-content: center;
}


.login-page__figure {
    width: 28rem;
}

/* password-recovery */

.password-recovery-page {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 24% 20% 1fr;
    place-items: center;
    place-content: center;
}

.password-recovery-page__container--text {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}


.password-recovery-page__form {
    justify-content: start;
}

.password-recovery-page__figure {
    width: 20rem;
}

.password-recovery-page__text--title, .password-recovery-page__text--subtitle {
    text-align: center;
}



/* email sent */

.email-sent-page {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 12rem repeat(4, min-content);
    place-items: center;
    place-content: center;
    gap: 4rem;
}

.email-sent-page__figure-logo {
    width: 20rem;
}

.email-sent-page__container--text {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.8rem;
}


.email-sent-page__figure-email {
    height: 20rem;
    width: 20rem;
    padding: 4rem;
    border-radius: 50%;
    background-color: var(--text-input-field);
}

/* new password */

.new-password-page {
    height: 100vh;
    display: grid;
    grid-template-rows: 28% repeat(3, min-content);
    row-gap: 4rem;
    place-items: center;
}

.new-password-page__figure {
    height: 4rem;
    margin-top: 4rem;
}

