:root {
    --very-light-pink: #C7C7C7;
    --white: #FFFFFF;
    --text-input-field: #F7F7F7;
    --black: #000000;
    --hospital-green: #ACD9B2;
    --dark: #232830;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto;
}

html {
    font-size: 62.5%;
}

.text--bold-sm {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--black);
}


.text--light-sm {
    font-size: 1.2rem;
    font-weight: 200;
    color: var(--black);
}


.text--bold-md {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--black);
}


.text--light-md {
    font-size: 1.4rem;
    font-weight: 200;
    color: var(--black);
}


.text--bold-lg {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--black);
}


.text--light-lg {
    font-size: 1.6rem;
    font-weight: 200;
    color: var(--black);
}


.text--link {
    text-decoration: none;
    color: var(--hospital-green);
    cursor: pointer;
}

.img--contain {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: auto;
}

.button--primary {
    background-color: var(--hospital-green);
    color: var(--white);
    border: 0 solid transparent;
    font-size: 1.6rem;
    border-radius: 0.8rem;
    cursor: pointer;
    width: 40rem;
    height: 8rem;
}

.button--secondary {
    background-color: var(--white);
    color: var(--hospital-green);
    border: 0.2rem solid var(--hospital-green);
    font-size: 1.6rem;
    border-radius: 0.8rem;
    cursor: pointer;
    width: 40rem;
    height: 8rem;
}

.button--link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button--bottom {
    margin-top: auto;
    margin-bottom: 2rem;
}

.button--middle {
    margin: auto;
}

.form--col {
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 1.2rem;
}

.input--text {
    width: 40rem;
    height: 4rem;
    border-radius: 0.8rem;
    background-color: var(--text-input-field);
    border: 0 solid transparent;
    padding: 0.8rem;
}

.input--text:focus {
    outline: 0.2rem solid var(--hospital-green);
}


.label--col {
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
}




/* login */

.login {
    height: 100vh;
    display: grid;
    grid-template-rows: 32% 1fr;
    place-items: center;
}

.login__figure-logo {
    width: 24rem;
}

.login__form-log {
    height: 100%;
    width: 40rem;
}


.login__link-forgot {
    text-align: center;
    margin-top: 2rem;
}

.login__button-submit {
    margin-top: 2rem;
}